@model Modules.Models.CompanyInfo

@{
    ViewData["Title"] = "CompanyDetails";
}

<h1>CompanyDetails</h1>

<div>
    <h4>CompanyInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tell_No)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tell_No)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditCompany" asp-route-id="@Model?.CompanyId">Edit</a> |
    <a asp-action="Company">Back to List</a>
</div>
