@model IEnumerable<Modules.Models.ContactUs>

@{
    Layout = "_Layout_Admin";
    ViewData["Title"] = "ContactUs";
}

<h1>ContactUs</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
               
                <a asp-action="ContactDetails" asp-route-id="@item.ContactId">Details</a> |
                    <a asp-action="DeleteContact" asp-route-id="@item.ContactId" class="text-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
