@model IEnumerable<Modules.Models.EmployeeInfo>;

@{
    Layout = "_Layout_Admin";
    ViewData["Title"] = "Employee";
}

<h1>Employee</h1>
<form method="Post">
    <input placeholder="Search By Joining Date" name="search"/>

    <button class="btn-primarys">Submit</button>
</form>

<p>
    <a asp-action="CreateEmployee">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Designation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.joindate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Insured)
            </th>
         
            <th>Approve</th>
			<th>Deny</th>
			<th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Designation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyInfo.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.joindate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Insured)
            </td>
                <td>
                    <a  class="btn btn-success" value="Approved" asp-action="Approval" asp-controller="Admin" asp-route-id="@item.EmployeeId">Approve</a>
				</td>

                <td>
                    <a class="btn btn-danger" value="Denied" asp-action="Denied" asp-controller="Admin" asp-route-id="@item.EmployeeId">Deny</a>
                </td>
                
            <td>
                    <a asp-action="EditEmployee" asp-route-id="@item.EmployeeId">Edit</a> |
					<a asp-action="EmployeeDetails" asp-route-id="@item.EmployeeId">Details</a> |
                    <a asp-action="DeleteEmployee" asp-route-id="@item.EmployeeId" class="text-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
